@import '../../common.less';

.enrollPanel {
  width: 100%;
  height: 100%;
  .helpPeople {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    .bg {
      width: 25rem;
      height: 25rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.6);
      background-image: url(../../assets/live-help-bg.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      animation: rotate 30s infinite;
      transform-origin: center center;
    }
    .box {
      width: 7.2rem;
      height: 9.76rem;
      background-image: url(../../assets/live-help-box.png);
      background-position: center;
      background-size: cover;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 5.8rem 0.8rem 0.8rem 0.8rem; 
      .name {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: @black3;
        text-align: center;
        font-size: 0.4rem;
      }
      .tips {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: @black1;
        text-align: center;
        font-size: 0.34666rem;
        margin-top: 0.1rem;
        span {
          color: @black3;
        }
      }
      .btn {
        width: 3.3333rem;
        height: 1.4rem;
        margin-top: 20px;
        margin: auto;
        text-align: center;
        line-height: 1.5rem;
        margin-top: 0.6rem;
        font-size: 0.6rem;
        color: white;
      }
    }
  }
  .course {
    width: 100%;
    height: 1.28rem;
    padding: 0.4rem;
    background: white;
    position: relative;
    overflow: hidden;
    .left {
      float: left;
      font-size: 0.293333rem;
      .tag {
        width: 1.546666rem;
        height: 0.48rem;
        text-align: center;
        line-height: 0.48rem;
        color: white;
        border-radius: 2px;
        position: relative;
        float: left;
        background-size: 100% 100%;
        &.before {
          background-image: url('../../assets/tag-before.svg');
        }
        &.ing {
          background-image: url('../../assets/tag-ing.svg');
        }
        &.end {
          background-image: url('../../assets/tag-end.svg');
        }
      }
      .time {
        margin-left: 0.24rem;
        color: @black1;
        float: left;
        line-height: 0.48rem;
        width: 5rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &.end {
          width: 7.4rem;
        }
      }
    }
    .paid {
      position: absolute;
      right: 0.4rem;
      bottom: 0;
      width: 1.493333rem;
      height: 1.493333rem;
      background-image: url('../../assets/paid-mark.svg');
      background-size: 100% 100%;
    }
    .right {
      float: right;
      font-size: 0.293333rem;
      line-height: 0.48rem;
      color: #cccccc;
    }
  }
  .signups {
    padding-bottom: 0.186666rem;
    width: 100%;
    padding: 0 0.4rem;
    background: white;
    .item {
      height: 1.4rem;
      padding-bottom: .4rem;
      margin-bottom: .4rem;
      border-bottom: thin #f5f5f5 solid;
      &.vip {
        .left {
          .inner {
            font-size: 0.36rem;
          }
        }
      }
      .left {
        float: left;
        height: 100%;
        padding: 0.27rem 0;
        line-height: 1;
        color: @black2;
        .inner {
          height: 0.46rem;
          border-left: @orange 4px solid;
          padding-left: 0.2rem;
          font-size: 0.453333rem;
          line-height: 0.46rem;
        }
      }
      .right {
        float: right;
        height: 100%;
        width: 3.33333rem;
        border-radius: 4px;
        line-height: 1rem;
        color: white;
        text-align: center;
        font-size: 0.4rem;
        background: @orange;
      }
      &.vip {
        .left {
          .inner {
            width: 7.4rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            .price {
              text-decoration: line-through;
              margin-right: 0.4rem;
            }
          }
        }
        .right {
          width: 1.5rem;
        }
      }
      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
        // margin-top: 0.4rem;
        .left {
          .inner {
            border-left: @red 4px solid;
          }
        }
        .right {
          background: @red;
        }
      }
      &.big {
        padding: 0;
        height: 1.9rem;
        padding-bottom: .4rem;
        .left {
          padding: 0;
        }
        .users {
          margin-top: .26666rem;
          overflow: hidden;
          .avatar {
            border-radius: 50%;
            background: #f5f5f5;
            width: .8rem;
            height: .8rem;
            margin-right: .26666rem;
            float: left;
            text-align: center;
            position: relative;
            background-position: center center;
            background-size: cover;
            padding: 0.16rem;
            img {
              width: 0.48rem;
              height: 0.48rem;
            }
          }
        }
        .right {
          height: 1rem;
          margin-top: 0.25rem;
        }
      }
    }
  }
  .poster {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    .main {
      width: 8.26666rem;
      background: white;
      border-radius: 6px;
      padding: 0.53rem 0 0.53rem 0;
      position: relative;
      .ptips {
        font-size: 0.32rem;
        color: @black2;
        text-align: center;
        width: 4.95rem;
        margin: auto;
        height: 0.34rem;
        margin-bottom: 0.26666rem;
        img {
          width: 100%;
          display: block;
          height: 0.34rem;
        }
      }
      .psteps {
        width: 5.8rem;
        margin: auto;
        margin-top: 0.53333rem;
        .item {
          line-height: 1.2;
          color: @black2;
          font-size: 0.373333rem;
          margin-bottom: 0.4rem;
          overflow: hidden;
          .index {
            color: @red;
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 50%;
            border: @red thin solid;
            line-height: 0.36rem;
            text-align: center;
            font-size: 0.286666rem;
            float: left;
            margin-right: 0.13333rem;
            vertical-align: top;
          }
          .text {
            float: left;
            vertical-align: top;
            // line-height: 1.4;
          }
        }
      }
      .image {
        min-height: 8.8rem;
        width: 4.95rem;
        margin: auto;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .close {
      position: absolute;
      right: 0.4rem;
      top: 0.26666rem;
      z-index: 1;
      width: 0.32rem;
      img {
        width: 100%;
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%)rotate(0);
  }
  100% {
    transform: translate(-50%, -50%)rotate(360deg);
  }
}