@import '../../common.less';

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.8rem;
  z-index: 2;
}

.ocean {
  width: 100%;
  height: 100%;
}

.inner, .inner2 {
  width: 60rem;
  background-image: url(../../assets/wave1.png); 
  background-repeat: repeat-x;
  background-size: 10rem;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.54rem;
  animation: wave 30s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}
.inner2 {
  height: 0.8rem;
  background-image: url(../../assets/wave2.png); 
  animation: wave 40s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -50rem;
  }
}